#teamPicturesContainer {
    display: grid;
    justify-content: center;
    margin: 4em 0em 0em 0em;
    grid-template-areas:
        "First Second"
        "Third Fourth";
    gap: 90px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6)
}

.navbar-brand {
    font-size: 24px;
}

.card {
    width: 50%;
    border-style: none;
}

.card-img-top {
    margin: auto;
    border-radius: 50%;
    padding: 1em 4em;
}

.card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.card-text {
    text-align: center;
    color: #7d8285;
}

#intro {
    padding-top: 2vh;
}

/* .missionstatement {
    background-color: #bea493;
}

#teamPicturesContainer{
    background-color: #F5F5F5;
} */
