body {
    overflow-x: hidden;
    color: whitesmoke;
    /* width: 100%; */
    font-size: 0.87em;
    /* font-family: Arial, Helvetica, sans-serif; */

 }


.navbar-custom {
    background-color: white !important;
}

.navbar-brand {
    font-size: 3.5em;
}

.navbar {
    justify-content: space-between;
}

.navbar-toggler {
    height: 4em;
    width: 4em;
    margin: 0em 1.5em 0em 0em;
    padding: 0em 0.85em 0em 0.4em;
}

.navbar-light .navbar-toggler {
    border-color: black;
}

.navbar-toggler-icon {
    height: 3em;
    width: 3em;
}

.container-fluid {
    margin: 1em 2em 1em 2em;
    width: 100vw;
}

.nav-link {
    font-size: 2em;
}

#loading {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    /* opacity: 0.7; */
    background-color: #fff;
    z-index: 99;
  }
#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    z-index: 100;
  }


#history div{
    font-size: 3em;
    padding: 1em;
    text-decoration: none;
    padding: 10px 25px;
    margin-bottom: 50px;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: rgb(223, 215, 215);
    background-color: rgb(95, 92, 92);
    border: none;
    border-radius: 7px;
    box-shadow: 0 5px #494b4b;
}

/* #history div:last-child{
    margin-bottom: 10vh;

} */

#history {
    margin-bottom: 10vh;
}

#search-form{
    margin-top: -2vh;
}

#searchhome{
    width: 15rem;
    border-radius: 2em;
}

#exploretools{
    margin-top: 15vh;
    width: 75vw;
    margin-left: 10vw;
}

#AvailableTools{
    color: black;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    /* margin: 0em 0em 0.5em 0em;
    display: inline-block; */
}

#paintbrush{
    margin-top: 2vh;
    border-style: none;
}

.card{
    width: 25rem;
    height: 18rem;
}

.card-img-top{
    border-radius: 15%;
}

#slogan{
    color: black;
    font-weight: bold;
    font-size: 42px;
}

#headline{
    font-size: 4em;
    margin: auto;
  }

#communityoffering{
    color: black;
    font-size: 2.5em;
}

#anchorlinks {
    display: grid;
    position: relative;
    justify-content: center;
    margin: 10em 0em 10em 0em;
    grid-template-areas:
        "First Second"
        "Third Fourth";
    gap: 10px;
}

#infocards{
    margin: 0em 0em 30em 0em;

    transition: box-shadow .3s;
    /* width: 300px;
    height: 500px;
    margin: 50px; */
    border-radius:10px;
    /* border: 1px solid #ccc; */
    background: #fff;
    float: left;
    
}

.top-div {
    margin-top: 15vh;
    color: #000;

}

#infocards:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

#info{
    float: right;
}

div#carouselExampleCaptions{
    margin: 5em 0em 0em 4em;
}

#provider-container{
    margin-top: 4vh;
}

#providerplace{
    border-radius: 15%;
}

#providerinfo{
    border-style: none;
    width: 50rem;
    height: 60rem;
    border-radius: 10%;
}

#providercard{
    text-align: center;
}

#card-title-provider{
    font-size: 4em;
}

#card-text-provider{
    font-size: 3em;
}

#providercard button{
    font-size: 2.3em;
}

#newapproach{
    color: black;
    font-weight: bold;
    font-size: 5em;
    /* margin: 0em 0em 0em 1em; */
    text-align: center;
}

.class-slide-title{
    font-size: 4em;
}


#bottomfooter{
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#bottomfooter a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 1.2em 0em 1.2em 0em;
}

#iconifyFooter {
    width: 4vh;
    height: 4vh;
}

#communityoffering-title{
    color: black;
    font-size: 3em;
    text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

#easter-egg{
    margin: 80px 0px 200px 0px;
    text-align: center;
}

#hammer{
    width: 15%;
    margin: auto;
}

#hammer-text{
    color: black;
    margin: 20px 0px 0px 0px;
    font-size: 3em;
}

#phrase{
    color: black;
    font-size: 3em;
}

#dancers{
    width: 50%;
}

#history a {
    text-decoration: none;
    color: white;
}

.animated {
    left: -30vw;
    animation: myanimation 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes myanimation {
    from {left: -60vw;
        overflow: hidden}
    to {left: 70vw;
        overflow: hidden;}

  }

#details {
    font-size: 3em;
    text-align: center;
    color: black;
}


/* @media screen and (min-width: 641px) {

    #bottomfooter {
        display: none;
    }

  } */

  
  