#headline{
    font-size: 100px;
  }

.navbar-brand{
    font-size: 24px;
}

#bottomfooter{
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

body{
    color: whitesmoke;
}

#search-form{
    margin-top: -2vh;
}

#searchhome{
    width: 15rem;
    border-radius: 2em;

}

#exploretools{
    margin-top: 2.5vh;
    width: 75vw;
    margin-left: 5vw;
}

#AvailableTools{
    color: black;
    font-weight: bold;
    font-size: 36px;
}

#paintbrush{
    margin-top: 2vh;
    border-style: none;
 
}

.card-img-top{
    border-radius: 15%;
}

#slogan{
    color: black;
    font-weight: bold;
    font-size: 42px;
}

#headline{
    text-align: left;
}

#communityoffering{
    color: black;
}