#bottomfooter {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#profile-photo{
    margin-top: 4vh;
    margin-right: 10vw;
    border-radius: 50%;
    width: 25vw;
    float: right;
}

#username{
    margin-top: 6vh;
    margin-left: 5vw;
}

#infobutton{
    display: flex;
    justify-content: center;
}

.checked{
    color: blue;
  }

#reviewscore{
    color: black;
}

#reviews{
    border-style: none;
}

#reviewtitle{
    text-transform: uppercase;
}

.aboutuser{
    width: 75vw;
    margin-left: 10vw;
}

#dividingskills{
    width: 10vw;
}

#helpfulSkills {
    display: grid;
    justify-content: center;
    margin: 2em 0em 0em 0em;
    grid-template-areas:
        "First Second"
        "Third Fourth";
    gap: 90px;
}

<<<<<<< HEAD
#messagechunk{
    width: 75vw;
    margin-left: 10vw;
}

/* #chatbox{
    width: 50vw;
} */
=======
.card {
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}
<<<<<<< HEAD
>>>>>>> adc7a8f26f6db33b9cee8429dca194e5f788c954
=======

.card li {
    list-style: none;
}
>>>>>>> 4ed87623955cb18110df59e420854814f8be0b4b
