body {
    /* height: 100vh; */
}

#profile-photo{
    margin-top: 4vh;
    margin-right: 10vw;
    border-radius: 50%;
    width: 25vw;
    float: right;
}

#username{
    margin-top: 6vh;
    margin-left: 6vw;
}

#infobutton{
    display: flex;
    justify-content: center;
}

#membersince{
    margin-left: 6vw;
}

#rating{
    margin-left: 6vw;
}

.checked{
    color: blue;
  }

#reviewscore{
    color: black;
}

#reviews{
    border-style: none;
}

#reviewtitle{
    text-transform: uppercase;
}

.aboutuser{
    width: 75vw;
    margin-left: 10vw;
}

#dividingskills{
    width: 10vw;
}

#helpfulSkills {
    display: grid;
    justify-content: center;
    margin: 2em 0em 2em 0em;
    grid-template-areas:
        "First Second";
    gap: 90px;
}

#messagechunk{
    width: 75vw;
    margin-left: 10vw;
    margin-top: 2.5vh;
}

#dividingline2{
    width: 75vw;
    margin-left: 10vw;
}

#dividingline3{ 
    margin-top: 2.5vh;
}

#learnmore{
    margin-left: 10vw;
    width: 75vw;

}

#chatbox {
    margin: 1em 0em 0em 0em;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.card li {
    list-style: none;
}

#skillsheading{
    margin-left: 10vw;}
    
.columns {
    display: grid;
    text-align: left;
    grid-template-areas:
        "First Second";
}

.columns p {
    padding: 0em 1em;
}

#bottomfooter {
    background-color: white;
    overflow: hidden;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#bottomfooter a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0em 0em 1.2em 0em;
}

#iconifyFooter {
    width: 6vh;
    height: 6vh;
}

#reviews {
    margin-top: 2vh;
    margin-left: 10vw;
    width: 75vw;
}

#reviewer-photo{
    border-radius: 50%;
    width:10vw;
}

#reviewer-name{
    margin-left: 2vw;

}

#numberofreviews{
    margin-left: 10vw;
}