body{
    background-color: yellow;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
                "header"
                "body"
                "footer";
    gap: 2%;
}

body >*{
    border: 1px red solid;
}

main >*{
    border: 3px gray solid;

}

footer nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

main{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
                "1 2 3"
                "4 5 6"
                "7 8 9"
                "10 11 12";
    gap: 3%;
}

#profile-pic, #user-name{
    display: inline;
}

#bottomfooter a {
    color: black;
    text-decoration: none;
}